// COLORS
$primary-color: #e43d3d;
$secondary-color: #ec9e9e;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(26, 26, 26);

$dark-grey: #ffffff;

$dark-blue-text: #f0f0f0; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
